<header class="site-header">
    <div class="site-title">
        <a href="{% url 'core:authors_lb' %}">Canon Wars</a>
    </div>
    <nav class="site-nav">
        <ul>
<li><a href="{% url 'core:authors_lb' %}" {% if current_page == 'authors_lb' %}class="current"{% endif %}>Authors</a></li>
            <li><a href="{% url 'core:works_lb' %}" {% if current_page == 'works_lb' %}class="current"{% endif %}>Works</a></li>
            <li><a href="{% url 'core:search' %}" {% if current_page == 'search' %}class="current"{% endif %}>Search</a></li>
            <li><a href="{% url 'core:recent' %}" {% if current_page == 'recent' %}class="current"{% endif %}>Recent</a></li>
            <li><a href="{% url 'core:about' %}" {% if current_page == 'about' %}class="current"{% endif %}>About</a></li>
        </ul>
    </nav>
</header>
