<header class="site-header">
    <div class="site-title">
        <a href="{% url 'core:home' %}">Canon Wars</a>
    </div>
    <nav class="site-nav">
        <ul>
            <li><a href="{% url 'core:compare' mode='authors' %}" {% if request.resolver_match.url_name == 'compare' and 'authors' in request.path %}class="current"{% endif %}>Vote Authors</a></li>
            <li><a href="{% url 'core:compare' mode='works' %}" {% if request.resolver_match.url_name == 'compare' and 'works' in request.path %}class="current"{% endif %}>Vote Works</a></li>
            <li><a href="{% url 'core:authors_lb' %}" {% if request.resolver_match.url_name == 'authors_lb' %}class="current"{% endif %}>Authors</a></li>
            <li><a href="{% url 'core:works_lb' %}" {% if request.resolver_match.url_name == 'works_lb' %}class="current"{% endif %}>Works</a></li>
            <li><a href="{% url 'core:search' %}" {% if request.resolver_match.url_name == 'search' %}class="current"{% endif %}>Search</a></li>
            <li><a href="{% url 'core:recent' %}" {% if request.resolver_match.url_name == 'recent' %}class="current"{% endif %}>Recent</a></li>
            <li><a href="{% url 'core:about' %}" {% if request.resolver_match.url_name == 'about' %}class="current"{% endif %}>About</a></li>
        </ul>
    </nav>
</header>
