{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if mode == "authors" %}
    <title>Which author is more canonical?</title>
    {% else %}
    <title>Which work is more canonical?</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
  {% include 'partials/nav.html' %}
  
  <section>
    {% if mode == "authors" %}
    <h1>Which author is more canonical?</h1>
    {% else %}
    <h1>Which work is more canonical?</h1>
    {% endif %}
    <div id="comparison">
        <div class="choice">
            <a href="?winner=A&item_a_id={{ item_a.id }}&item_b_id={{ item_b.id }}" class="choice-link">
                {% if mode == "authors" %}
                    <strong>{{ item_a.name }}</strong>
                    <small>b. {{ item_a.birth_year|default:"?" }}; d. {{ item_a.death_year|default:"?" }}</small>
                    <small><a href="{{ item_a.get_google_search_url }}" target="_blank">Look up →</a></small>
                {% else %}
                    <strong>{{ item_a.title }}</strong>
                    <small>by {{ item_a.author.name }}</small>
                    <small>({{ item_a.publication_year|default:"?" }})</small>
                    <small><a href="{{ item_a.get_google_search_url }}" target="_blank">Look up →</a></small>
                {% endif %}
            </a>
        </div>
        
        <div class="choice">
            <a href="?winner=B&item_a_id={{ item_a.id }}&item_b_id={{ item_b.id }}" class="choice-link">
                {% if mode == "authors" %}
                    <strong>{{ item_b.name }}</strong>
                    <small>b. {{ item_b.birth_year|default:"?" }}; d. {{ item_b.death_year|default:"?" }}</small>
                    <small><a href="{{ item_b.get_google_search_url }}" target="_blank">Look up →</a></small>
                {% else %}
                    <strong>{{ item_b.title }}</strong>
                    <small>by {{ item_b.author.name }}</small>
                    <small>({{ item_b.publication_year|default:"?" }})</small>
                    <small><a href="{{ item_b.get_google_search_url }}" target="_blank">Look up →</a></small>
                {% endif %}
            </a>
        </div>
    </div>
  </section>
</body>
</html>
